:root {
  --purp: #2f244b;
  --purpdrop: drop-shadow(2px 6px 10px #45356e);
  --white: #fee4ff;
  --ff: "Rubik", sans-serif;
  --btn-txt-size: clamp(1rem, 0.9393rem + 0.1942vw, 1.25rem);
  --trans: all 350ms ease-in-out;
}
/*
section
*/

body {
  background-image: url(assets/liquid-cheese.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 140vh;
}

.glass {
  animation-name: glass-fade;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-fill-mode: both;
  /* background: #45356e70;
  border-radius: 16px;
  box-shadow: 0 4px 30px #45356e;
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  border: 1px solid #45356e70; */
  /* 
  background-image: url("https://images.unsplash.com/photo-1547355253-ff0740f6e8c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80");
  background-size: cover; */
  padding: 3vh 5vw;
}

h1 {
  color: var(--white);
  font-family: var(--ff);
  font-size: clamp(3.75rem, 2.8398rem + 2.9126vw, 5.5rem);
  filter: var(--purpdrop);
  text-align: center;
  margin: 1vh auto 2vh auto;
  letter-spacing: -4px;
  animation: text-flicker-in-glow 1s linear both;
  z-index: 1;
  line-height: 1.25em;
}

h1 span {
  opacity: 0.3;
}

h1:hover {
  animation: text-flicker-out-glow 2s linear both;
}

h3 {
  color: var(--white);
  font-family: var(--ff);
  font-size: clamp(1.25rem, 0.375rem + 1.0938vw, 2.125rem);
  text-align: center;
  line-height: 1.25em;
  letter-spacing: -1px;
  z-index: 1;
  margin: -2vh auto 3vh auto;
}

h2 {
  color: var(--white);
  font-family: var(--ff);
  font-size: clamp(1.625rem, 1.4126rem + 0.6796vw, 2.5rem);
  filter: var(--purpdrop);
  text-align: left;
  line-height: 1.25em;
  z-index: 1;
  margin-top: 3vh;
}

.title-price-flex h2 {
  justify-self: flex-start;
}
h2 span {
  font-size: clamp(0.8125rem, 0.5546rem + 0.8252vw, 1.875rem);
}

.title-price-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  max-width: 1000px;
}

.price {
  font-size: clamp(2.25rem, 2.0073rem + 0.7767vw, 3.25rem);
  color: var(--purp);
  font-family: var(--ff);
  /* font-weight: 400;
  border: 2px solid var(--purp); */
  padding: 12px 20px;
  background-color: var(--white);
  filter: var(--purpdrop);
  border-radius: 20px;
  justify-self: flex-end;
  /*glass*/
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  border: 1px solid #45356e70;
}

p {
  font-family: var(--ff);
  font-size: clamp(1.125rem, 1.034rem + 0.2913vw, 1.5rem);
  color: var(--white);
  text-align: left;
}

section .card {
  margin: 10vh auto;
  width: 50vw;
  min-width: 400px;
  max-width: 800px;
  text-align: center;
  transition: all 500ms ease-in-out;
}
.timer-flex {
  display: flex;
  width: 90%;
  justify-content: center;
  place-items: center;
  text-align: center;
  gap: 2vw;
  font-family: var(--ff);
  font-size: clamp(1.75rem, 1.034rem + 0.2913vw, 2.5rem);
  color: var(--white);
  margin-left: auto;
  line-height: 1em;
  margin-right: auto;
  margin-top: -2vh;
  max-width: 800px;

  animation: text-flicker-in-glow 1s linear both;
}
ol {
  color: #fff;
  text-align: left;
  width: 100%;
}
#days span,
#hours span,
#mins span,
#secs span {
  font-size: clamp(1.125rem, 1.034rem + 0.2913vw, 1rem);
  text-transform: lowercase;
  margin: 0;
  line-height: 1.5rem;
  font-weight: 800;
  letter-spacing: -1px;
}
#days,
#hours,
#mins,
#secs {
  border: 2px solid #fee4ff20;
  filter: var(--purpdrop);
  padding: 10px 10px 6px 10px;
  line-height: 1.5rem;
  margin: 0;
  letter-spacing: -1px;
  font-weight: 800;
  border-radius: 20px;
  min-width: 60px;

  min-height: 50px;
}

section .cardflex {
  display: flex;
  flex: 1;
  place-items: center;
  max-width: 1000px;
  justify-content: center;
}
img.heroimg {
  width: 80%;
  max-width: 600px;
  margin-top: 2vh;
}
/* button styles*/
.btn-flex {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 2vw;
}

.btn-flex a {
  color: var(--white);
  font-family: var(--ff);
  font-weight: 600;
  font-size: var(--btn-txt-size);
  padding: 10px 25px;
  border: 1px solid #fee4ff90;
  border-radius: 16px;
  transition: var(--trans);
  margin: 3vmin;
  filter: var(--purpdrop);
}
/* 
.btn-flex a:nth-child(1) {
  background-color: #45356e;
} */

.btn-flex a:hover {
  background-color: var(--white);
  border: 1px solid var(--white);
  filter: drop-shadow(0 4px 6px #fee4ff90);
  color: var(--purp);
  border-radius: 28px;
  transition: var(--trans);
  cursor: pointer;
  animation: text-flicker-in-glow 600ms linear both;
}

.price {
  animation-name: price-glow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@media screen and (max-width: 600px) {
  section .card {
    width: 50vw;
    min-width: 80vw;
    max-width: 90vw;
  }
}

section #info-area {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". .";
  justify-content: center;
  align-items: center;
  gap: 5vw;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.info-image img {
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
}

.info-image {
  width: 45vw;
  height: auto;
  object-fit: cover;
}
